@model App.ViewModels.UrlShortViewModel

@section Content {

<div class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <div class="col col-lg-12 col-sm-12">
                <h1>Url Shortnr</h1>
                <p>Create your shortened URL here.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="well">

                @using (var UrlForm = Html.BeginForm("Create", ("Home"), FormMethod.Post, new { id = "url-form", @class = "form_container valid_tip"}))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="url-text" style="width:400px" />
                        </div>
                    </div>

                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" id="submit-button" class="btn btn-default btn-success btn-lg">Submit!</button>
                    </div>
                }
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <p>
                        <div id="body-fearch-results" class="body-contents" style="display:none">
                            <div>
                                <div id="fearch-result-list-panel">
                                    <div class="txthead">Search Results</div>
                                    <div>
                                        <ul id="result-tab-nav" class="nav nav-tabs" role="tablist"></ul>
                                        <div id="result-tab" class="tab-content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>

            <hr>
        </div>
    </div>
</div>
<hr>

}
